:root {
  --light:#999999;
  --black:#181717;
  --green:#4CAF50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  margin: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.6px;
}

 button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;  
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: var(--black);
  padding: 12px 25px;
  outline: none;
  letter-spacing: 2px;
  line-height: 1.5;
  transition: opacity .25s;
}

.btn-svg {
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: initial;
}

input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
}

input, select {
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  border: 0;
  outline: none;
}

input[type="checkbox"] {padding: 0; width: 15px; margin-right: 15px;}

label,fieldset {  
  color: var(--light);
  text-transform: uppercase;
  line-height: 1.5;
}

label {  
  white-space: pre;
}

fieldset {margin-bottom: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 7px;}

svg path{
  fill: var(--light);
}

svg {margin-right: 15px;}
li svg {margin: 0;}

button:hover {opacity: 0.8;}

ul { list-style: none; margin: 0; padding: 0; }

hr {
  border: 1px solid #ebebeb;
  width: 50%;
  margin: 17px auto;
}

legend {white-space: pre;}

#video-media-source li { 
  text-align: center; cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  color: var(--light);
}

#video-media-source li svg { width: 25px; }

.alert {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #e91e63;
  color: #fff;
  padding: 5px;
  overflow: auto;
  border-radius: 7px;
  white-space: pre-wrap;
}

.d-flex { display: flex; justify-content: center; align-items: center; }
.flex-column {flex-direction: column;}
.align-center {align-items: center;}
.justify-between {justify-content: space-between;}
.flex-wrap {flex-wrap: wrap;}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.vertical-align {display: flex; align-items: center;}

.w-100 { width: 100%; }

.green { background-color: #4CAF50 }
.danger {background-color: #e91e63;}

.active-tab svg path{fill: var(--black);}

.border-bottom { border-bottom: 1px solid var(--light); }

.p-2 {padding: 0.9rem;}
.p-5 {padding: 5px;}

.ml-05{margin-left: 5px;}
.ml-1 { margin-left: 10px }
.mr-1 { margin-right: 10px }
.mb-1 { margin-bottom: 10px }
.mt-1 { margin-top: 10px }

.mb-2 { margin-bottom: 20px }

.mt-0 {margin-top: 0;}

.br7 {border-radius: 7px;}

.text-uppercase {text-transform: uppercase;}

small {color: #afafaf;}

.border-right-0 {border-right: 0;}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}
