*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 10px;
  min-width: 150px;
}

video {
  height: 60%;
  width: 60%;
  margin: 10px 0;
}

select, button {
  border: none;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #f94646;
  padding: 7px 25px;
  box-shadow: 0 0 4px #999;
  outline: none;
  letter-spacing: 2px;
  line-height: 1.5;
}

select {
  background: #03a9f4;
  width: 100%;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #000000 radial-gradient(circle, transparent 1%, #000000 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wi-100 {
  width: 100%;
}

.cl-green {
  background-color: #4CAF50
}

.cl-rose {
  background-color: #E91E63;
}

.mr-10 {
  margin-right: 10px
}

.mb-10 {
  margin-bottom: 10px
}