:root {
  --light:#7a7a7a;
  --black:#181717;
  --green:#4CAF50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

 button {
  border: none;
  border-radius: 4px;  
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: var(--black);
  padding: 12px 25px;
  outline: none;
  letter-spacing: 2px;
  line-height: 1.5;
  transition: opacity .25s;
}

input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
}

input, select {
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  border: 0;
  outline: none;
}

input[type="checkbox"] {padding: 0; width: 15px; margin-right: 15px;}

label,fieldset {
  color: var(--light);
  text-transform: uppercase;
  line-height: 1.5;
}

fieldset {margin-bottom: 10px; border: 1px solid #ddd; border-radius: 7px;}

svg path{
  fill: var(--light);
}

button:hover {opacity: 0.8;}

ul { list-style: none; margin: 0; padding: 0; }

hr {
  border: 1px solid #f3f3f3;
  width: 50%;
  margin: 17px auto;
}

#video-media-source li { 
  text-align: center; cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  color: var(--light);
}

#video-media-source li svg { 
  width: 35px;
}

.d-flex { display: flex; justify-content: center; align-items: center; }

.flex-column {flex-direction: column;}

.align-center {align-items: center;}

.justify-between {justify-content: space-between;}

.flex-wrap {flex-wrap: wrap;}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.vertical-align {display: flex; align-items: center;}

.w-100 { width: 100%; }

.cl-green { background-color: #4CAF50 }
.danger {background-color: #e91e63;}

.active-tab svg path{fill: var(--black);}

.border-bottom { border-bottom: 1px solid var(--light); }

.p-20 {padding: 0.9rem;}

.mr-10 {
  margin-right: 10px
}

.mb-10 {
  margin-bottom: 10px
}

.mb-20 {
  margin-bottom: 20px
}

.mt-10 {
  margin-top: 10px
}

small {color: #afafaf;}

.border-right-0 {border-right: 0;}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}
